log
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
venv/

logs/application.log
projectFilesBackup*
*.pyc
project/.sbtserver
project/.sbtserver.lock
project/sbt-ui.sbt
